In [1]:
import pandas as pd
import sqlite3
import os
import time
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
# # Set display options to show all rows and columns
# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
save_path = f"{os.getcwd()}/visualizations/"
save_path

'/home/jovyan/work/notebooks/visualizations/'

In [4]:
def normalize_column_names(df):
    """
    Normalize the column names of a Pandas DataFrame.
    
    Parameters:
    df (pd.DataFrame): The DataFrame whose column names are to be normalized.
    
    Returns:
    pd.DataFrame: DataFrame with normalized column names.
    """
    df.columns = df.columns.str.strip()  # Remove leading/trailing whitespace
    df.columns = df.columns.str.lower()  # Convert to lowercase
    df.columns = df.columns.str.replace(r'\s+', '_', regex=True)  # Replace spaces with underscores
    df.columns = df.columns.str.replace(r'[^\w\s]', '', regex=True)  # Remove special characters
    
    return df

In [5]:
def save_histograms(dataframe, save_path):

    start_time = time.time()
    
    numeric_columns = dataframe.select_dtypes(include=['number'])
    
    # Create the directory if it doesn't exist
    os.makedirs(save_path, exist_ok=True)
    
    for column in numeric_columns.columns:
        plt.figure(figsize=(8, 6))
        
        sns.histplot(dataframe[column], kde=True, color='blue', bins=20)
        plt.title(f'Histogram with KDE of {column}')
        plt.xlabel(column)
        plt.ylabel('Density')
        
        # Calculate the number of events (N) and format it with thousands separators
        num_events = len(dataframe[column])
        formatted_num_events = '{:,}'.format(num_events)
        
        # Add annotation for N in the top-middle part of the histogram
        plt.text(0.5, 0.95, f'N={formatted_num_events}', fontsize=12, ha='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.7))
        
        # Save the histogram as a .jpg file with the column name
        file_name = f'{column}.jpg'
        file_path = os.path.join(save_path, file_name)
        plt.savefig(file_path)
        
        print(f'Saved: {file_name}')
        
        plt.close()  # Close the plot to avoid displaying in the notebook

        # Print time elapsed for each whole minute
        elapsed_time = time.time() - start_time
        if int(elapsed_time) % 60 == 0 or num_events == len(dataframe[column]) - 1:
            print(f'Time elapsed: {int(elapsed_time / 60)} minutes')

In [6]:
def execute_query(db_path, query):
    try:
        conn = sqlite3.connect(db_path)
        df = pd.read_sql_query(query, conn)
        return df
        
    except sqlite3.Error as e:
        print(f"An error occurred: {e}")
        return None
        
    finally:
        if conn:
            conn.close()

In [7]:
# Example usage to list all tables
db_path = f"{os.getcwd()}/tmp/cdeschools.sqlite"
query = "SELECT name FROM sqlite_master WHERE type='table';"
df_tables = execute_query(db_path, query)

if df_tables is not None:
    print("Tables in the database:")
    print(df_tables)

Tables in the database:
        name
0    schools
1       frpm
2  satscores

### SCHOOLS

In [61]:
query = """
SELECT
  *
FROM
  schools
"""
df_schools = execute_query(db_path, query)

In [62]:
# df_schools = normalize_column_names(df_schools)

In [63]:
df_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17686 entries, 0 to 17685
Data columns (total 49 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CDSCode      17686 non-null  object
 1   NCESDist     16656 non-null  object
 2   NCESSchool   12646 non-null  object
 3   StatusType   17686 non-null  object
 4   County       17686 non-null  object
 5   District     17686 non-null  object
 6   School       16317 non-null  object
 7   Street       17392 non-null  object
 8   StreetAbr    17392 non-null  object
 9   City         17393 non-null  object
 10  Zip          17393 non-null  object
 11  State        17393 non-null  object
 12  MailStreet   17394 non-null  object
 13  MailStrAbr   17394 non-null  object
 14  MailCity     17394 non-null  object
 15  MailZip      17394 non-null  object
 16  MailState    17394 non-null  object
 17  Phone        11717 non-null  object
 18  Ext          540 non-null    object
 19  Website      6964 non-null   object
 20  OpenDate     16317 non-null  object
 21  ClosedDate   5694 non-null   object
 22  Charter      16317 non-null  float64
 23  CharterNum   1801 non-null   object
 24  FundingType  1642 non-null   object
 25  DOC          17686 non-null  object
 26  DOCType      17686 non-null  object
 27  SOC          16317 non-null  object
 28  SOCType      16317 non-null  object
 29  EdOpsCode    11975 non-null  object
 30  EdOpsName    11975 non-null  object
 31  EILCode      16317 non-null  object
 32  EILName      16317 non-null  object
 33  GSoffered    13804 non-null  object
 34  GSserved     11943 non-null  object
 35  Virtual      10818 non-null  object
 36  Magnet       10610 non-null  float64
 37  Latitude     12863 non-null  float64
 38  Longitude    12863 non-null  float64
 39  AdmFName1    11700 non-null  object
 40  AdmLName1    11700 non-null  object
 41  AdmEmail1    11674 non-null  object
 42  AdmFName2    431 non-null    object
 43  AdmLName2    431 non-null    object
 44  AdmEmail2    424 non-null    object
 45  AdmFName3    42 non-null     object
 46  AdmLName3    42 non-null     object
 47  AdmEmail3    42 non-null     object
 48  LastUpdate   17686 non-null  object
dtypes: float64(4), object(45)
memory usage: 6.6+ MB

In [60]:
df_schools.head(3)

,CDSCode,NCESDist,NCESSchool,StatusType,County,District,School,Street,StreetAbr,City,Zip,State,MailStreet,MailStrAbr,MailCity,MailZip,MailState,Phone,Ext,Website,OpenDate,ClosedDate,Charter,CharterNum,FundingType,DOC,DOCType,SOC,SOCType,EdOpsCode,EdOpsName,EILCode,EILName,GSoffered,GSserved,Virtual,Magnet,Latitude,Longitude,AdmFName1,AdmLName1,AdmEmail1,AdmFName2,AdmLName2,AdmEmail2,AdmFName3,AdmLName3,AdmEmail3,LastUpdate
0,01100170000000,0691051,None,Active,Alameda,Alameda County Office of Education,None,313 West Winton Avenue,313 West Winton Ave.,Hayward,94544-1136,CA,313 West Winton Avenue,313 West Winton Ave.,Hayward,94544-1136,CA,(510) 887-0152,None,www.acoe.org,None,None,NaN,None,None,00,County Office of Education (COE),None,None,None,None,None,None,None,None,None,NaN,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,None,None,None,None,None,None,2015-06-23
1,01100170109835,0691051,10546,Closed,Alameda,Alameda County Office of Education,FAME Public Charter,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,94560-5359,CA,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,94560-5359,CA,None,None,None,2005-08-29,2015-07-31,1.0,0728,Directly funded,00,County Office of Education (COE),65,K-12 Schools (Public),TRAD,Traditional,ELEMHIGH,Elementary-High Combination,K-12,K-12,P,0.0,37.521436,-121.99391,None,None,None,None,None,None,None,None,None,2015-09-01
2,01100170112607,0691051,10947,Active,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1515 Webster Street,1515 Webster St.,Oakland,94612-3355,CA,1515 Webster Street,1515 Webster St.,Oakland,94612,CA,(510) 596-8901,None,www.envisionacademy.org/,2006-08-28,None,1.0,0811,Directly funded,00,County Office of Education (COE),66,High Schools (Public),TRAD,Traditional,HS,High School,9-12,9-12,N,0.0,37.804520,-122.26815,Laura,Robell,laura@envisionacademy.org,None,None,None,None,None,None,2015-06-18

In [55]:
df_schools.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CDSCode,17686,17686,01100170000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NCESDist,16656,1193,0622710,1342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NCESSchool,12646,12321,12271,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StatusType,17686,4,Active,11708,NaN,NaN,NaN,NaN,NaN,NaN,NaN
County,17686,58,Los Angeles,3636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District,17686,1411,Los Angeles Unified,1342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
School,16317,13875,Lincoln Elementary,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Street,17392,13593,1398 Sperber Road,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreetAbr,17392,13633,1398 Sperber Rd.,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,17393,1165,Los Angeles,837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zip,17393,11184,91723,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,17393,1,CA,17393,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailStreet,17394,12395,1234 Arcadia Avenue,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailStrAbr,17394,12429,1234 Arcadia Ave.,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailCity,17394,1132,Los Angeles,835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailZip,17394,10298,94606,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailState,17394,1,CA,17394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone,11717,10632,(805) 581-0202,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ext,540,379,200,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Website,6964,4082,www.fusd.net,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OpenDate,16317,1406,1980-07-01,10679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ClosedDate,5694,899,1989-06-30,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Charter,16317.0,NaN,NaN,NaN,0.105963,0.3078,0.0,0.0,0.0,0.0,1.0
CharterNum,1801,1763,00D2,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FundingType,1642,3,Directly funded,1176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DOC,17686,12,54,10190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DOCType,17686,12,Unified School District,10190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SOC,16317,20,60,7591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SOCType,16317,20,Elementary Schools (Public),7591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EdOpsCode,11975,13,TRAD,10103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EdOpsName,11975,13,Traditional,10103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EILCode,16317,7,ELEM,7298,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EILName,16317,7,Elementary,7298,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GSoffered,13804,94,K-5,2724,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GSserved,11943,81,K-5,2688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virtual,10818,3,N,9703,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Magnet,10610.0,NaN,NaN,NaN,0.048916,0.215703,0.0,0.0,0.0,0.0,1.0
Latitude,12863.0,NaN,NaN,NaN,36.007715,2.285739,32.547737,33.994248,35.678047,37.825079,44.219305
Longitude,12863.0,NaN,NaN,NaN,-119.694255,2.144301,-124.28481,-121.70335,-119.31288,-117.99291,-83.781133
AdmFName1,11700,2327,David,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmLName1,11700,6394,Johnson,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmEmail1,11674,10492,delphine.sherman@aspirepublicschools.org,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmFName2,431,285,Steve,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmLName2,431,363,Sherman,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmEmail2,424,382,delphine.sherman@aspirepublicschools.org,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmFName3,42,40,Eric,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmLName3,42,42,Sarratore,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdmEmail3,42,42,dsarratore@vincentacademy.org,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LastUpdate,17686,757,2015-06-18,4455,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
save_histograms(df_schools, f"{save_path}/df_schools")

Saved: Charter.jpg
Time elapsed: 0 minutes
Saved: Magnet.jpg
Time elapsed: 0 minutes
Saved: Latitude.jpg
Time elapsed: 0 minutes
Saved: Longitude.jpg
Time elapsed: 0 minutes

In [57]:
number = 10

for column in df_schools.columns:
    print("Column name:", column)
    print("Data type:", df_schools[column].dtype)
    print(f"First {number} unique values:", df_schools[column].unique()[:number])
    print("Count of unique values:", df_schools[column].nunique())
    print("Count of NULL values:", df_schools[column].isnull().sum(), "\n")

Column name: CDSCode
Data type: object
First 10 unique values: ['01100170000000' '01100170109835' '01100170112607' '01100170118489'
 '01100170123968' '01100170124172' '01100170125567' '01100170130302'
 '01100170130401' '01100170130419']
Count of unique values: 17686
Count of NULL values: 0

Column name: NCESDist
Data type: object
First 10 unique values: ['0691051' '0600002' '0600003' None '0601397' '0601770' '0601860'
 '0604740' '0607800' '0612630']
Count of unique values: 1193
Count of NULL values: 1030

Column name: NCESSchool
Data type: object
First 10 unique values: [None '10546' '10947' '12283' '12844' '12901' '13008' '09264' '06830'
 '09265']
Count of unique values: 12321
Count of NULL values: 5040

Column name: StatusType
Data type: object
First 10 unique values: ['Active' 'Closed' 'Merged' 'Pending']
Count of unique values: 4
Count of NULL values: 0

Column name: County
Data type: object
First 10 unique values: ['Alameda' 'Alpine' 'Amador' 'Butte' 'Calaveras' 'Colusa' 'Contra Costa'
 'Del Norte' 'El Dorado' 'Fresno']
Count of unique values: 58
Count of NULL values: 0

Column name: District
Data type: object
First 10 unique values: ['Alameda County Office of Education'
 'California School for the Blind (State Special Schl)'
 'California School for the Deaf-Fremont (State Special Schl)'
 'California Community College, Chancellors' 'Mission Valley ROC/P'
 'Alameda Unified' 'Albany City Unified' 'Amador Valley Joint Union High'
 'Berkeley Unified' 'Castro Valley Unified']
Count of unique values: 1411
Count of NULL values: 0

Column name: School
Data type: object
First 10 unique values: [None 'FAME Public Charter' 'Envision Academy for Arts & Technology'
 'Aspire California College Preparatory Academy'
 'Community School for Creative Education' 'Yu Ming Charter'
 'Urban Montessori Charter' 'Technical, Agricultural & Nat.'
 'Alameda County Juvenile Hall/Court' 'Alameda County Community']
Count of unique values: 13875
Count of NULL values: 1369

Column name: Street
Data type: object
First 10 unique values: ['313 West Winton Avenue' '39899 Balentine Drive, Suite 335'
 '1515 Webster Street' '2125 Jefferson Avenue'
 '2111 International Boulevard' '1086 Alcatraz Avenue' '5328 Brann Street'
 '597 C Street' '2500 Fairmont Avenue' None]
Count of unique values: 13593
Count of NULL values: 294

Column name: StreetAbr
Data type: object
First 10 unique values: ['313 West Winton Ave.' '39899 Balentine Dr., Ste. 335' '1515 Webster St.'
 '2125 Jefferson Ave.' '2111 International Blvd.' '1086 Alcatraz Ave.'
 '5328 Brann St.' '597 C St.' '2500 Fairmont Ave.' None]
Count of unique values: 13633
Count of NULL values: 294

Column name: City
Data type: object
First 10 unique values: ['Hayward' 'Newark' 'Oakland' 'Berkeley' 'San Leandro' None 'Dublin'
 'Fremont' 'Sacramento' 'Alameda']
Count of unique values: 1165
Count of NULL values: 293

Column name: Zip
Data type: object
First 10 unique values: ['94544-1136' '94560-5359' '94612-3355' '94703-1414' '94606-4903'
 '94608-1265' '94619-3312' '94541' '94578-1005' None]
Count of unique values: 11184
Count of NULL values: 293

Column name: State
Data type: object
First 10 unique values: ['CA' None]
Count of unique values: 1
Count of NULL values: 293

Column name: MailStreet
Data type: object
First 10 unique values: ['313 West Winton Avenue' '39899 Balentine Drive, Suite 335'
 '1515 Webster Street' '1001 22nd Avenue, Suite 100'
 '2111 International Boulevard' '1086 Alcatraz Avenue' '5328 Brann Street'
 '597 C Street' '2500 Fairmont Avenue' None]
Count of unique values: 12395
Count of NULL values: 292

Column name: MailStrAbr
Data type: object
First 10 unique values: ['313 West Winton Ave.' '39899 Balentine Dr., Ste. 335' '1515 Webster St.'
 '1001 22nd Ave., Ste. 100' '2111 International Blvd.'
 '1086 Alcatraz Ave.' '5328 Brann St.' '597 C St.' '2500 Fairmont Ave.'
 None]
Count of unique values: 12429
Count of NULL values: 292

Column name: MailCity
Data type: object
First 10 unique values: ['Hayward' 'Newark' 'Oakland' 'San Leandro' None 'Dublin' 'Fremont'
 'Berkeley' 'Sacramento' 'Alameda']
Count of unique values: 1132
Count of NULL values: 292

Column name: MailZip
Data type: object
First 10 unique values: ['94544-1136' '94560-5359' '94612' '94606' '94606-4903' '94608-1265'
 '94619-3312' '94541' '94578-1005' None]
Count of unique values: 10298
Count of NULL values: 292

Column name: MailState
Data type: object
First 10 unique values: ['CA' None]
Count of unique values: 1
Count of NULL values: 292

Column name: Phone
Data type: object
First 10 unique values: ['(510) 887-0152' None '(510) 596-8901' '(510) 686-4131' '(510) 452-2063'
 '(510) 842-1181' '(510) 667-7435' '(510) 670-4590' '(510) 969-5302'
 '(510) 904-6300']
Count of unique values: 10632
Count of NULL values: 5969

Column name: Ext
Data type: object
First 10 unique values: [None '130' '1240' '1200' '1311' '39117' '2050' '470' '8002' '6605']
Count of unique values: 379
Count of NULL values: 17146

Column name: Website
Data type: object
First 10 unique values: ['www.acoe.org' None 'www.envisionacademy.org/'
 'www.aspirepublicschools.org'
 'www.communityschoolforcreativeeducation.org' 'www.yumingschool.org'
 'www.urbanmontessori.org' 'www.unitymiddle.org' 'www.efcps.org'
 'www.csb-cde.ca.gov']
Count of unique values: 4082
Count of NULL values: 10722

Column name: OpenDate
Data type: object
First 10 unique values: [None '2005-08-29' '2006-08-28' '2008-08-21' '2011-08-22' '2011-08-09'
 '2012-08-27' '1980-07-01' '2015-08-23' '1997-09-01']
Count of unique values: 1406
Count of NULL values: 1369

Column name: ClosedDate
Data type: object
First 10 unique values: [None '2015-07-31' '2015-06-30' '1989-06-30' '2013-06-30' '1987-06-22'
 '1984-07-24' '2000-06-30' '2004-07-01' '2003-05-08']
Count of unique values: 899
Count of NULL values: 11992

Column name: Charter
Data type: float64
First 10 unique values: [nan  1.  0.]
Count of unique values: 2
Count of NULL values: 1369

Column name: CharterNum
Data type: object
First 10 unique values: [None '0728' '0811' '1049' '1284' '1296' '1383' '1707' '0740' '1464']
Count of unique values: 1763
Count of NULL values: 15885

Column name: FundingType
Data type: object
First 10 unique values: [None 'Directly funded' 'Locally funded' 'Not in CS funding model']
Count of unique values: 3
Count of NULL values: 16044

Column name: DOC
Data type: object
First 10 unique values: ['00' '31' '34' '42' '54' '56' '52' '58' '98' '02']
Count of unique values: 12
Count of NULL values: 0

Column name: DOCType
Data type: object
First 10 unique values: ['County Office of Education (COE)' 'State Special Schools'
 'Non-School Locations' 'Joint Powers Authority (JPA)'
 'Unified School District' 'High School District'
 'Elementary School District' 'Community College District'
 'Regional Occupation Center/Program (ROC/P)' 'State Board of Education']
Count of unique values: 12
Count of NULL values: 0

Column name: SOC
Data type: object
First 10 unique values: [None '65' '66' '60' '10' '14' '13' '62' '70' '09']
Count of unique values: 20
Count of NULL values: 1369

Column name: SOCType
Data type: object
First 10 unique values: [None 'K-12 Schools (Public)' 'High Schools (Public)'
 'Elementary Schools (Public)' 'County Community' 'Juvenile Court Schools'
 'Opportunity Schools' 'Intermediate/Middle Schools (Public)'
 'Adult Education Centers' 'Special Education Schools (Public)']
Count of unique values: 20
Count of NULL values: 1369

Column name: EdOpsCode
Data type: object
First 10 unique values: [None 'TRAD' 'JUV' 'COMM' 'OPP' 'SPEC' 'SSS' 'ALTSOC' 'CON' 'COMMDAY']
Count of unique values: 13
Count of NULL values: 5711

Column name: EdOpsName
Data type: object
First 10 unique values: [None 'Traditional' 'Juvenile Court School' 'County Community School'
 'Opportunity School' 'Special Education School' 'State Special School'
 'Alternative School of Choice' 'Continuation School'
 'Community Day School']
Count of unique values: 13
Count of NULL values: 5711

Column name: EILCode
Data type: object
First 10 unique values: [None 'ELEMHIGH' 'HS' 'ELEM' 'UG' 'INTMIDJR' 'PS' 'A']
Count of unique values: 7
Count of NULL values: 1369

Column name: EILName
Data type: object
First 10 unique values: [None 'Elementary-High Combination' 'High School' 'Elementary' 'Ungraded'
 'Intermediate/Middle/Junior High' 'Preschool' 'Adult']
Count of unique values: 7
Count of NULL values: 1369

Column name: GSoffered
Data type: object
First 10 unique values: [None 'K-12' '9-12' 'K-8' '7-12' '6-8' 'P-5' '5-12' 'P' 'K-4']
Count of unique values: 94
Count of NULL values: 3882

Column name: GSserved
Data type: object
First 10 unique values: [None 'K-12' '9-12' 'K-7' 'K-5' '8-12' '7-12' '6-7' 'K-8' '6-8']
Count of unique values: 81
Count of NULL values: 5743

Column name: Virtual
Data type: object
First 10 unique values: [None 'P' 'N' 'F']
Count of unique values: 3
Count of NULL values: 6868

Column name: Magnet
Data type: float64
First 10 unique values: [nan  0.  1.]
Count of unique values: 2
Count of NULL values: 7076

Column name: Latitude
Data type: float64
First 10 unique values: [37.658212 37.521436 37.80452  37.868991 37.784648 37.847375 37.778352
       nan 37.712878 37.767642]
Count of unique values: 11436
Count of NULL values: 4823

Column name: Longitude
Data type: float64
First 10 unique values: [-122.09713 -121.99391 -122.26815 -122.27844 -122.23863 -122.28356
 -122.1895         nan -122.11173 -122.1777 ]
Count of unique values: 11278
Count of NULL values: 4823

Column name: AdmFName1
Data type: object
First 10 unique values: ['L Karen' None 'Laura' 'Clifford' 'Sue' 'David' 'Michael' 'Carolyn'
 'Damon' 'Kevin']
Count of unique values: 2327
Count of NULL values: 5986

Column name: AdmLName1
Data type: object
First 10 unique values: ['Monroe' None 'Robell' 'Thompson' 'Park' 'Castillo' 'Hermosillo' 'Hobbs'
 'Grant' 'King']
Count of unique values: 6394
Count of NULL values: 5986

Column name: AdmEmail1
Data type: object
First 10 unique values: ['lkmonroe@acoe.org' None 'laura@envisionacademy.org'
 'cliffordt@communityschoolforcreativeeducation.org'
 'spark@yumingschool.org' 'davidc@urbanmontessori.org'
 'mhermosillo@acoe.org' 'chobbs@acoe.org' 'dgrant@unitymiddle.org'
 'kking@efcps.net']
Count of unique values: 10492
Count of NULL values: 6012

Column name: AdmFName2
Data type: object
First 10 unique values: [None 'Sau-Lim (Lance)' 'Jennifer' 'Annalisa' 'Woo' 'David' 'Sam'
 'Brandon' 'Jarod' 'Sailaja']
Count of unique values: 285
Count of NULL values: 17255

Column name: AdmLName2
Data type: object
First 10 unique values: [None 'Tsang' 'Koelling' 'Moore' 'Williams' 'Hoopes' 'Pasarow' 'Paige'
 'Scott' 'Saresh']
Count of unique values: 363
Count of NULL values: 17255

Column name: AdmEmail2
Data type: object
First 10 unique values: [None 'stsang@unityhigh.org' 'jkoelling@efcps.net'
 'annalisa.moore@neaclc.org' 'wwilliams@aoaschools.org'
 'david.hoopes@alamedaclc.org' 'sampasarow@berkeley.net'
 'brandon.paige@lighthousecharter.org' 'jarod.scott@ousd.org'
 'sailaga.saresh@ousd.org']
Count of unique values: 382
Count of NULL values: 17262

Column name: AdmFName3
Data type: object
First 10 unique values: [None 'Drew' 'Irma' 'Vickie' 'Barbara' 'Kelly' 'Patsy' 'Dustin' 'Joy'
 'Sabrina']
Count of unique values: 40
Count of NULL values: 17644

Column name: AdmLName3
Data type: object
First 10 unique values: [None 'Sarratore' 'Munoz' 'Chang' 'Mandelbaum' 'Kriss' 'Oxford' 'Kerns'
 'DeBoer' 'Ayala']
Count of unique values: 42
Count of NULL values: 17644

Column name: AdmEmail3
Data type: object
First 10 unique values: [None 'dsarratore@vincentacademy.org' 'gmunoz@piedmont.k12.ca.us'
 'vickiechang@acoe.org' 'bmandelbaum@bcoe.org' 'kkriss@pusdk12.org'
 'poxford@puesd.org' 'dustin.kerns@imagineschools.com'
 'jdeboer@learn4life.org' 'sayala@greendot.org']
Count of unique values: 42
Count of NULL values: 17644

Column name: LastUpdate
Data type: object
First 10 unique values: ['2015-06-23' '2015-09-01' '2015-06-18' '2015-07-01' '2016-07-18'
 '2016-05-10' '2015-10-09' '1999-06-24' '2016-10-06' '2014-04-28']
Count of unique values: 757
Count of NULL values: 0

### FRPM - Free or Reduced-Price meals

In [35]:
query = """
SELECT
  *
FROM
  frpm
"""
df_frpm = execute_query(db_path, query)

In [36]:
# df_frpm = normalize_column_names(df_frpm)

In [37]:
df_frpm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10395 entries, 0 to 10394
Data columns (total 28 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Academic Year                                10393 non-null  object
 1   County Code                                  10393 non-null  object
 2   District Code                                10393 non-null  float64
 3   School Code                                  10393 non-null  object
 4   County Name                                  10393 non-null  object
 5   District Name                                10393 non-null  object
 6   School Name                                  10393 non-null  object
 7   District Type                                10393 non-null  object
 8   School Type                                  9989 non-null   object
 9   Educational Option Type                      9989 non-null   object
 10  NSLP Provision Status                        1875 non-null   object
 11  Charter School (Y/N)                         9989 non-null   float64
 12  Charter School Number                        1179 non-null   object
 13  Charter Funding Type                         1179 non-null   object
 14  IRC                                          9989 non-null   float64
 15  Low Grade                                    10034 non-null  object
 16  High Grade                                   10034 non-null  object
 17  Enrollment (K-12)                            10394 non-null  float64
 18  Free Meal Count (K-12)                       10200 non-null  float64
 19  Percent (%) Eligible Free (K-12)             10200 non-null  float64
 20  FRPM Count (K-12)                            10206 non-null  float64
 21  Percent (%) Eligible FRPM (K-12)             10206 non-null  float64
 22  Enrollment (Ages 5-17)                       10373 non-null  float64
 23  Free Meal Count (Ages 5-17)                  10173 non-null  float64
 24  Percent (%) Eligible Free (Ages 5-17)        10173 non-null  float64
 25  FRPM Count (Ages 5-17)                       10179 non-null  float64
 26  Percent (%) Eligible FRPM (Ages 5-17)        10179 non-null  float64
 27  2013-14 CALPADS Fall 1 Certification Status  10393 non-null  float64
dtypes: float64(14), object(14)
memory usage: 2.2+ MB

In [59]:
df_frpm.head(3)

,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,Educational Option Type,NSLP Provision Status,Charter School (Y/N),Charter School Number,Charter Funding Type,IRC,Low Grade,High Grade,Enrollment (K-12),Free Meal Count (K-12),Percent (%) Eligible Free (K-12),FRPM Count (K-12),Percent (%) Eligible FRPM (K-12),Enrollment (Ages 5-17),Free Meal Count (Ages 5-17),Percent (%) Eligible Free (Ages 5-17),FRPM Count (Ages 5-17),Percent (%) Eligible FRPM (Ages 5-17),2013-14 CALPADS Fall 1 Certification Status
0,2014-2015,01,10017.0,0109835,Alameda,Alameda County Office of Education,FAME Public Charter,County Office of Education (COE),K-12 Schools (Public),Traditional,None,1.0,0728,Directly funded,1.0,K,12,1087.0,565.0,0.519779,715.0,0.657774,1070.0,553.0,0.516822,702.0,0.656075,1.0
1,2014-2015,01,10017.0,0112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),Traditional,None,1.0,0811,Directly funded,1.0,9,12,395.0,186.0,0.470886,186.0,0.470886,376.0,182.0,0.484043,182.0,0.484043,1.0
2,2014-2015,01,10017.0,0118489,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,County Office of Education (COE),High Schools (Public),Traditional,None,1.0,1049,Directly funded,1.0,9,12,244.0,134.0,0.549180,175.0,0.717213,230.0,128.0,0.556522,168.0,0.730435,1.0

In [39]:
df_frpm.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Academic Year,10393,1,2014-2015,10393,NaN,NaN,NaN,NaN,NaN,NaN,NaN
County Code,10393,58,19,2283,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Code,10393.0,NaN,NaN,NaN,65648.162802,11101.123192,10017.0,64733.0,67082.0,69625.0,76901.0
School Code,10393,9991,0000001,359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
County Name,10393,58,Los Angeles,2283,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Name,10393,1010,Los Angeles Unified,997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
School Name,10393,8693,"Nonpublic, Nonsectarian Schools",359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Type,10393,8,Unified School District,6921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
School Type,9989,17,Elementary Schools (Public),5616,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Educational Option Type,9989,12,Traditional,8740,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NSLP Provision Status,1875,7,Provision 2,1369,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Charter School (Y/N),9989.0,NaN,NaN,NaN,0.11803,0.32266,0.0,0.0,0.0,0.0,1.0
Charter School Number,1179,1164,00D2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Charter Funding Type,1179,3,Directly funded,847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IRC,9989.0,NaN,NaN,NaN,0.073481,0.260937,0.0,0.0,0.0,0.0,1.0
Low Grade,10034,15,K,6095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
High Grade,10034,17,12,2650,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Enrollment (K-12),10394.0,NaN,NaN,NaN,1200.007504,61167.464336,1.0,263.25,515.0,746.0,6236439.0
Free Meal Count (K-12),10200.0,NaN,NaN,NaN,611.640784,30884.905638,1.0,75.0,227.5,436.0,3119368.0
Percent (%) Eligible Free (K-12),10200.0,NaN,NaN,NaN,0.525825,0.273846,0.001761,0.290048,0.560576,0.758661,1.0
FRPM Count (K-12),10206.0,NaN,NaN,NaN,716.367627,36183.668533,1.0,93.0,276.0,505.0,3655624.0
Percent (%) Eligible FRPM (K-12),10206.0,NaN,NaN,NaN,0.60678,0.285216,0.002205,0.374051,0.676265,0.85632,1.0
Enrollment (Ages 5-17),10373.0,NaN,NaN,NaN,1170.506314,59603.397632,1.0,252.0,506.0,736.0,6070831.0
Free Meal Count (Ages 5-17),10173.0,NaN,NaN,NaN,596.264229,30068.571777,1.0,71.0,223.0,428.0,3032898.0
Percent (%) Eligible Free (Ages 5-17),10173.0,NaN,NaN,NaN,0.528284,0.274136,0.001799,0.290954,0.564961,0.760766,1.0
FRPM Count (Ages 5-17),10179.0,NaN,NaN,NaN,699.084193,35263.926577,1.0,88.0,271.0,496.0,3557989.0
Percent (%) Eligible FRPM (Ages 5-17),10179.0,NaN,NaN,NaN,0.609744,0.285098,0.002205,0.376979,0.680851,0.857566,1.0
2013-14 CALPADS Fall 1 Certification Status,10393.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [41]:
# save_histograms(df_frpm, f"{save_path}/df_frpm")

In [42]:
for column in df_frpm.columns:
    print("Column name:", column)
    print("Data type:", df_frpm[column].dtype)
    print("First five unique values:", df_frpm[column].unique()[:5])
    print("Count of unique values:", df_frpm[column].nunique())
    print("Count of NULL values:", df_frpm[column].isnull().sum(), "\n")

Column name: Academic Year
Data type: object
First five unique values: ['2014-2015' None]
Count of unique values: 1
Count of NULL values: 2

Column name: County Code
Data type: object
First five unique values: ['01' '02' '03' '04' '05']
Count of unique values: 58
Count of NULL values: 2

Column name: District Code
Data type: float64
First five unique values: [10017. 31609. 31617. 61119. 61127.]
Count of unique values: 1022
Count of NULL values: 2

Column name: School Code
Data type: object
First five unique values: ['0109835' '0112607' '0118489' '0123968' '0124172']
Count of unique values: 9991
Count of NULL values: 2

Column name: County Name
Data type: object
First five unique values: ['Alameda' 'Alpine' 'Amador' 'Butte' 'Calaveras']
Count of unique values: 58
Count of NULL values: 2

Column name: District Name
Data type: object
First five unique values: ['Alameda County Office of Education'
 'California School for the Blind (State Special Schl)'
 'California School for the Deaf-Fremont (State Special Schl)'
 'Alameda Unified' 'Albany City Unified']
Count of unique values: 1010
Count of NULL values: 2

Column name: School Name
Data type: object
First five unique values: ['FAME Public Charter' 'Envision Academy for Arts & Technology'
 'Aspire California College Preparatory Academy'
 'Community School for Creative Education' 'Yu Ming Charter']
Count of unique values: 8693
Count of NULL values: 2

Column name: District Type
Data type: object
First five unique values: ['County Office of Education (COE)' 'State Special Schools'
 'Unified School District' 'Elementary School District'
 'State Board of Education']
Count of unique values: 8
Count of NULL values: 2

Column name: School Type
Data type: object
First five unique values: ['K-12 Schools (Public)' 'High Schools (Public)'
 'Elementary Schools (Public)' 'Juvenile Court Schools' 'County Community']
Count of unique values: 17
Count of NULL values: 406

Column name: Educational Option Type
Data type: object
First five unique values: ['Traditional' 'Juvenile Court School' 'County Community School'
 'State Special School' None]
Count of unique values: 12
Count of NULL values: 406

Column name: NSLP Provision Status
Data type: object
First five unique values: [None 'Breakfast Provision 2' 'Provision 2' 'CEP' 'Lunch Provision 2']
Count of unique values: 7
Count of NULL values: 8520

Column name: Charter School (Y/N)
Data type: float64
First five unique values: [ 1.  0. nan]
Count of unique values: 2
Count of NULL values: 406

Column name: Charter School Number
Data type: object
First five unique values: ['0728' '0811' '1049' '1284' '1296']
Count of unique values: 1164
Count of NULL values: 9216

Column name: Charter Funding Type
Data type: object
First five unique values: ['Directly funded' None 'Locally funded' 'Not in CS funding model']
Count of unique values: 3
Count of NULL values: 9216

Column name: IRC
Data type: float64
First five unique values: [ 1.  0. nan]
Count of unique values: 2
Count of NULL values: 406

Column name: Low Grade
Data type: object
First five unique values: ['K' '9' '1' 'P' None]
Count of unique values: 15
Count of NULL values: 361

Column name: High Grade
Data type: object
First five unique values: ['12' '8' '5' 'Adult' None]
Count of unique values: 17
Count of NULL values: 361

Column name: Enrollment (K-12)
Data type: float64
First five unique values: [1087.  395.  244.  191.  257.]
Count of unique values: 1884
Count of NULL values: 1

Column name: Free Meal Count (K-12)
Data type: float64
First five unique values: [565. 186. 134. 113.  14.]
Count of unique values: 1219
Count of NULL values: 195

Column name: Percent (%) Eligible Free (K-12)
Data type: float64
First five unique values: [0.51977921 0.47088608 0.54918033 0.59162304 0.05447471]
Count of unique values: 8746
Count of NULL values: 195

Column name: FRPM Count (K-12)
Data type: float64
First five unique values: [715. 186. 175. 139.  21.]
Count of unique values: 1364
Count of NULL values: 189

Column name: Percent (%) Eligible FRPM (K-12)
Data type: float64
First five unique values: [0.65777369 0.47088608 0.71721311 0.72774869 0.08171206]
Count of unique values: 8704
Count of NULL values: 189

Column name: Enrollment (Ages 5-17)
Data type: float64
First five unique values: [1070.  376.  230.  190.  257.]
Count of unique values: 1848
Count of NULL values: 22

Column name: Free Meal Count (Ages 5-17)
Data type: float64
First five unique values: [553. 182. 128. 113.  14.]
Count of unique values: 1207
Count of NULL values: 222

Column name: Percent (%) Eligible Free (Ages 5-17)
Data type: float64
First five unique values: [0.51682243 0.48404255 0.55652174 0.59473684 0.05447471]
Count of unique values: 8625
Count of NULL values: 222

Column name: FRPM Count (Ages 5-17)
Data type: float64
First five unique values: [702. 182. 168. 139.  21.]
Count of unique values: 1333
Count of NULL values: 216

Column name: Percent (%) Eligible FRPM (Ages 5-17)
Data type: float64
First five unique values: [0.65607477 0.48404255 0.73043478 0.73157895 0.08171206]
Count of unique values: 8629
Count of NULL values: 216

Column name: 2013-14 CALPADS Fall 1 Certification Status
Data type: float64
First five unique values: [ 1. nan]
Count of unique values: 1
Count of NULL values: 2

### SATSCORES

cds: Identifier for the institution or dataset 

rtype: Type of report or record 

enroll12: Enrollment number in 12th grade

NumTstTakr: Number of test takers

AvgScrRead: Average reading score

AvgScrMath: Average math score

AvgScrWrite: Average writing score

NumGE1500: Number of students scoring 1500 or higher

PctGE1500: Percentage of students scoring 1500 or higher

In [43]:
query = """
SELECT
  *
FROM
  satscores
"""
df_satscores = execute_query(db_path, query)

In [44]:
# df_satscores = normalize_column_names(df_satscores)

In [45]:
df_satscores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cds          2331 non-null   object
 1   rtype        2331 non-null   object
 2   sname        1753 non-null   object
 3   dname        2273 non-null   object
 4   cname        2330 non-null   object
 5   enroll12     2331 non-null   int64
 6   NumTstTakr   2331 non-null   int64
 7   AvgScrRead   1733 non-null   float64
 8   AvgScrMath   1733 non-null   float64
 9   AvgScrWrite  1733 non-null   float64
 10  NumGE1500    1733 non-null   float64
 11  PctGE1500    1733 non-null   float64
dtypes: float64(5), int64(2), object(5)
memory usage: 218.7+ KB

In [46]:
df_satscores.head()

,cds,rtype,sname,dname,cname,enroll12,NumTstTakr,AvgScrRead,AvgScrMath,AvgScrWrite,NumGE1500,PctGE1500
0,00000000000000,X,None,None,None,496901,210706,489.0,500.0,484.0,93334.0,44.30
1,01000000000000,C,None,None,Alameda,16978,8855,516.0,536.0,517.0,4900.0,55.34
2,01100170000000,D,None,Alameda County Office of Education,Alameda,398,88,418.0,418.0,417.0,14.0,15.91
3,01100170109835,S,FAME Public Charter,Alameda County Office of Education,Alameda,62,17,503.0,546.0,505.0,9.0,52.94
4,01100170112607,S,Envision Academy for Arts & Technology,Alameda County Office of Education,Alameda,75,71,397.0,387.0,395.0,5.0,7.04

In [47]:
df_satscores.tail()

,cds,rtype,sname,dname,cname,enroll12,NumTstTakr,AvgScrRead,AvgScrMath,AvgScrWrite,NumGE1500,PctGE1500
2326,58727365830054,S,Lincoln (Abraham) (Alternative),Marysville Joint Unified,Yuba,97,0,NaN,NaN,NaN,NaN,NaN
2327,58727365830138,S,Marysville Charter Academy for the Arts,Marysville Joint Unified,Yuba,41,29,501.0,494.0,484.0,16.0,55.17
2328,58727365835202,S,Marysville High,Marysville Joint Unified,Yuba,197,53,489.0,513.0,487.0,24.0,45.28
2329,58727690000000,D,None,Wheatland Union High,Yuba,160,54,480.0,475.0,463.0,21.0,38.89
2330,58727695838305,S,Wheatland Union High,Wheatland Union High,Yuba,160,54,480.0,475.0,463.0,21.0,38.89

In [48]:
df_satscores.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
cds,2331,2331,00000000000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rtype,2331,4,S,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sname,1753,1669,Middle College High,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dname,2273,520,Los Angeles Unified,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cname,2330,57,Los Angeles,469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
enroll12,2331.0,NaN,NaN,NaN,834.767911,10808.227243,0.0,71.0,229.0,500.0,496901.0
NumTstTakr,2331.0,NaN,NaN,NaN,360.759331,4632.416926,0.0,10.0,86.0,231.5,210706.0
AvgScrRead,1733.0,NaN,NaN,NaN,480.242354,57.168344,308.0,440.0,482.0,520.0,653.0
AvgScrMath,1733.0,NaN,NaN,NaN,484.99019,61.900589,289.0,445.0,484.0,525.0,699.0
AvgScrWrite,1733.0,NaN,NaN,NaN,472.955568,55.200661,312.0,435.0,472.0,509.0,671.0
NumGE1500,1733.0,NaN,NaN,NaN,214.905366,2350.074838,0.0,17.0,46.0,136.0,93334.0
PctGE1500,1733.0,NaN,NaN,NaN,40.271748,22.450097,0.0,22.22,39.29,57.14,98.2

In [49]:
save_histograms(df_satscores, f"{save_path}/df_satscores")

Saved: enroll12.jpg
Time elapsed: 0 minutes
Saved: NumTstTakr.jpg
Time elapsed: 0 minutes
Saved: AvgScrRead.jpg
Time elapsed: 0 minutes
Saved: AvgScrMath.jpg
Time elapsed: 0 minutes
Saved: AvgScrWrite.jpg
Saved: NumGE1500.jpg
Saved: PctGE1500.jpg

In [50]:
for column in df_satscores.columns:
    print("Column name:", column)
    print("Data type:", df_satscores[column].dtype)
    print("First five unique values:", df_satscores[column].unique()[:5])
    print("Count of unique values:", df_satscores[column].nunique())
    print("Count of NULL values:", df_satscores[column].isnull().sum(), "\n")

Column name: cds
Data type: object
First five unique values: ['00000000000000' '01000000000000' '01100170000000' '01100170109835'
 '01100170112607']
Count of unique values: 2331
Count of NULL values: 0

Column name: rtype
Data type: object
First five unique values: ['X' 'C' 'D' 'S']
Count of unique values: 4
Count of NULL values: 0

Column name: sname
Data type: object
First five unique values: [None 'FAME Public Charter' 'Envision Academy for Arts & Technology'
 'Aspire California College Preparatory Academy'
 'Alameda Science and Technology Institute']
Count of unique values: 1669
Count of NULL values: 578

Column name: dname
Data type: object
First five unique values: [None 'Alameda County Office of Education' 'Alameda Unified'
 'Albany City Unified' 'Berkeley Unified']
Count of unique values: 520
Count of NULL values: 58

Column name: cname
Data type: object
First five unique values: [None 'Alameda' 'Amador' 'Butte' 'Calaveras']
Count of unique values: 57
Count of NULL values: 1

Column name: enroll12
Data type: int64
First five unique values: [496901  16978    398     62     75]
Count of unique values: 879
Count of NULL values: 0

Column name: NumTstTakr
Data type: int64
First five unique values: [210706   8855     88     17     71]
Count of unique values: 580
Count of NULL values: 0

Column name: AvgScrRead
Data type: float64
First five unique values: [489. 516. 418. 503. 397.]
Count of unique values: 269
Count of NULL values: 598

Column name: AvgScrMath
Data type: float64
First five unique values: [500. 536. 418. 546. 387.]
Count of unique values: 295
Count of NULL values: 598

Column name: AvgScrWrite
Data type: float64
First five unique values: [484. 517. 417. 505. 395.]
Count of unique values: 267
Count of NULL values: 598

Column name: NumGE1500
Data type: float64
First five unique values: [9.3334e+04 4.9000e+03 1.4000e+01 9.0000e+00 5.0000e+00]
Count of unique values: 399
Count of NULL values: 598

Column name: PctGE1500
Data type: float64
First five unique values: [44.3  55.34 15.91 52.94  7.04]
Count of unique values: 1261
Count of NULL values: 598

#### Business Case

FRPM  Student Poverty Data Case Study

The California Department of Education (CDE) oversees the state's public school system, which is responsible for the education of more than six million children and young adults in more than 10,000 schools with 295,000 teachers. 

The Director of Education sent you an email earlier today:

From: Director of Education 
To: You (Analytics Engineer)
Subject: Impact of free school meals and school type on education

Hi - were glad to have assigned you to this project. I will soon be discussing the impact of free school meals and school type on exam scores to the Board of Education. I need answers to a few questions so I can bring the relevant data and insights to the meeting. Can you help me? 

Heres how you can get the data: 
	Use this link to fetch the database http://2016.padjo.org/files/data/starterpack/cde-schools/cdeschools.sqlite  
	Its in SQLite format so it should be very familiar for you 
	You can use any tool that can help you navigate the data 
 
I need to know: 
	What are the 10 best high schools for maths scores?
	Which counties dont have any SAT scores?
	Are locally funded charter schools more likely than directly funded charter schools to enrol students on the FRPM (Free or Reduced-Price meals) program?
	Does being on the FRPM program impact math scores?
	Which school types are the best at achieving good reading and writing scores for students on the FRPM program?

We dont have a lot of time, so I want you to pull the data together and run a quick analysis on each of these and report back tomorrow. Some of the queries are open to interpretation and Id like for you to send me your answers and opinions to the questions above and let me know your reasoning. 

Id like a clear (and brief) word document, rather than a powerpoint, accompanied by any data visualisations you consider necessary. 

Thanks, and we look forward to hearing from you.
-	Director of Education

#### GOAL 1: impact of free school meals on exam scores

#### GOAL 2: impact of school type on exam scores

	Q1: What are the 10 best high schools for maths scores?

	Q2: Which counties dont have any SAT scores?

	Q3: Are locally funded charter schools more likely than directly funded charter schools to enrol students on the FRPM (Free or Reduced-Price meals) program?

	Q4: Does being on the FRPM program impact math scores?

	Q5: Which school types are the best at achieving good reading and writing scores for students on the FRPM program?

Some of the queries are open to interpretation

Id like for you to send me your answers and opinions to the questions above and

let me know your reasoning.