In [1]:
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
import os
os.getcwd()

'/home/jovyan/work/notebooks'

In [3]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("CSV to Parquet Example") \
    .getOrCreate()

In [4]:
# Create a sample DataFrame using Pandas
data = {
    "Name": ["Alice", "Bob", "Cathy", "David"],
    "Age": [23, 34, 45, 56],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]
}
pdf = pd.DataFrame(data)

# Save the DataFrame to a CSV file
csv_path = f"{os.getcwd()}/tmp/sample_data.csv"
pdf.to_csv(csv_path, index=False)

In [5]:
# Read the CSV file into a Spark DataFrame
df_csv = spark.read.csv(csv_path, header=True, inferSchema=True)
df_csv.show()

# Write the DataFrame to a Parquet file
parquet_path = f"{os.getcwd()}/tmp/sample_data.parquet"
df_csv.write.mode("overwrite").parquet(parquet_path)

+-----+---+-----------+
| Name|Age|       City|
+-----+---+-----------+
|Alice| 23|   New York|
|  Bob| 34|Los Angeles|
|Cathy| 45|    Chicago|
|David| 56|    Houston|
+-----+---+-----------+

In [6]:
# Read the Parquet file into a Spark DataFrame
df_parquet = spark.read.parquet(parquet_path)
df_parquet.show()

# Stop the Spark session
# spark.stop()

+-----+---+-----------+
| Name|Age|       City|
+-----+---+-----------+
|Alice| 23|   New York|
|  Bob| 34|Los Angeles|
|Cathy| 45|    Chicago|
|David| 56|    Houston|
+-----+---+-----------+